
KColoring/__pycache__/main.cpython-39.pyc
KColoring/.ipynb_checkpoints/main-checkpoint.py
KColoring/.ipynb_checkpoints/KColoring-checkpoint.ipynb
.ipynb_checkpoints/Shor-checkpoint.ipynb
.ipynb_checkpoints/Introducción-checkpoint.ipynb
.ipynb_checkpoints/grover-checkpoint.ipynb
.ipynb_checkpoints/01-feature-selection-checkpoint.ipynb
.ipynb_checkpoints/01-factoring-overview-checkpoint.ipynb
